/* .card.h-200.w-200.border-5.shadow-lg.col-xl-12.py-4.m-5.col-xs-6.col-xs-12:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(177, 85, 85, 0.75);
    -maz-box-shadow: -1px 9px 40px -12px rgba(197, 87, 87, 0.75);
    box-shadow: -1px 9px 400px -12px rgba(94, 231, 163, 0.75);
    height: auto;
    width: auto;
    image-resolution: initial;
} */

/* img.image {
    width: inherit;
    height: inherit;
}  */

html {
    background: #f5f7f8;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 20px 0;
}

.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media only screen and (min-width: 500px) {
    .band {
        grid-template-columns: 1fr 1fr;
    }
    .item-1 {
        grid-column: 1/ span 2;
    }
    .item-1 h1 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 850px) {
    .band {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* card */

.card {
    min-height: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(243, 42, 42, 0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    position: relative;
    top: 0;
    transition: all .1s ease-in-out;
}

.card:hover {
    top: -20px;
    /* background: rgba(126, 74, 74, 0.32); */
    box-shadow: 0 514px 515px rgba(248, 43, 43, 0.555);
}

.card article {
    padding: 20px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
}

.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}

.card p {
    flex: 1;
    /* make p grow to fill available space*/
    line-height: 1.4;
}

/* typography */

h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
}

